---
interface Props {
  filled?: boolean;
}

const { filled = false } = Astro.props;
---

<div class:list={["segment", { "segment--filled": filled }]}></div>

<style>
  .segment {
    height: 6px;
    flex-grow: 1;
    background: theme('colors.border-dark');
    transform: skewX(-20deg);
    transition: background 0.3s ease;
  }
  .segment--filled {
    background: theme('colors.primary');
  }
</style>
