---
interface Props {
  references?: string[];
}

const { references = [] } = Astro.props;
---

{references.length > 0 && (
  <div class="w-full ">
    <h4 class="text-primary font-mono text-sm tracking-widest uppercase mb-6">// REFERENCES_&_CITATIONS</h4>
    <ul class="space-y-4 font-mono text-xs text-gray-500">
      {references.map((ref, index) => (
        <li class="flex gap-4 group">
          <span class="text-primary opacity-50 group-hover:opacity-100">
            [{String(index + 1).padStart(2, '0')}]
          </span>
          <span class="group-hover:text-content transition-colors">
            {ref}
          </span>
        </li>
      ))}
    </ul>
  </div>
)}
