---
import XiuhcoatlNode from "./XiuhcoatlNode.astro";
import XiuhcoatlSegment from "./XiuhcoatlSegment.astro";

interface Props {
  nodeType: 'present' | 'past';
}

const { nodeType } = Astro.props;
const segments = Array(10).fill(null);
---

<div class="h-full relative flex flex-col items-center justify-start pt-2 md:hidden">
    <XiuhcoatlNode type={nodeType} className="scale-75" />
    <div class="flex flex-col gap-1 mt-2">
        {segments.map(() => (
            <XiuhcoatlSegment />
        ))}
    </div>
    <div class="absolute top-9 bottom-0 w-[2px] bg-border-dark -z-10"></div>
</div>
