---
interface Props {
  title: string;
  subtitle: string;
  body: string;
  tags: string[];
}

const { title, subtitle, body, tags } = Astro.props;
---
<section class="grid grid-cols-1 md:grid-cols-12 gap-8 items-stretch w-full">
    <div class="md:col-span-4 flex flex-col justify-center border-r border-gray-800 pr-8 text-right md:text-right text-left">
        <h3 class="text-4xl md:text-5xl font-display font-bold text-white leading-none uppercase mb-4">
            {title}<br/>
            <span class="text-gray-500">{subtitle}</span>
        </h3>
        <div class="w-12 h-1 bg-primary ml-auto mb-4 hidden md:block"></div>
        <div class="w-12 h-1 bg-primary mr-auto mb-4 md:hidden"></div>
    </div>
    <div class="md:col-span-8 bg-[#222] p-8 shadow-hard border border-[#333]">
        <p class="text-content mb-6 font-light font-body [&_b]:text-white [&_b]:font-bold" set:html={body}></p>
        <div class="flex gap-4 font-mono text-xs text-primary">
            {tags.map((tag) => (
                <span class="border border-primary/30 px-2 py-1">{tag}</span>
            ))}
        </div>
    </div>
</section>
