---
---
<div class="guardian-overlay">
    <img src="/favicon.svg" class="w-full h-full drop-shadow-[0_0_5px_theme('colors.guardian-glow')] object-contain" alt="" />
</div>

<style>
    .guardian-overlay {
        position: fixed;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60vh;
        height: 60vh;
        z-index: 0;
        opacity: 0.15;
        pointer-events: none;
        mix-blend-mode: screen;
    }
    @media (max-width: 768px) {
        .guardian-overlay {
            width: 100vw;
            height: 100vw;
            top: 40%;
        }
    }
</style>
