---
import { type Locale } from "@lib/i18n";
import { UI_TEXT } from "@data/ui-text";

interface Props {
  lang: Locale;
}

const { lang } = Astro.props;
const text = UI_TEXT[lang];
---
<header class="relative z-20 w-full text-center mt-6 md:mt-10 lg:mt-20 mb-4 pb-2">
    <h1 class="text-5xl md:text-[10rem] font-headline tracking-tighter text-white mb-2 leading-none md:leading-[0.8] uppercase opacity-95">
        Eduardo Gonzalez
    </h1>
    <h2 class="text-primary font-mono text-[10px] md:text-sm tracking-[0.5em] font-bold uppercase mb-2 border-b border-white/10 inline-block pb-2 px-8 md:px-16">
        {text.hero.role}
    </h2>
    <span class="text-white/50 font-body text-[10px] tracking-[0.6em] uppercase block mt-2">
        {text.hero.sub}
    </span>
</header>
