---
import { cn } from "@lib/utils";

type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
}

const { href, external, underline = true, ...rest } = Astro.props;
---

<a 
  href={href} 
  target={ external ? "_blank" : "_self" } 
  class={cn("inline-block font-mono text-[#C62828] hover:text-white transition-colors duration-150", underline && "underline underline-offset-4 decoration-[#C62828]/50 hover:decoration-white/50")}
  {...rest}>
  <slot/>
</a>
